<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Пожалуйста войдите</title>
    <link rel="shortcut icon" href="https://images.pngnice.com/download/2114/Spring-Transparent-PNG.png" type="image/png">
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" rel="stylesheet">
    <link crossorigin="anonymous" href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <form action="/process_login" class="form-signin" method="post">
        <h2 class="form-signin-heading text-center">Пожалуйста войдите</h2>
        <p>
            <label class="sr-only" for="username">Логин</label>
            <input autofocus class="form-control" id="username" name="username" placeholder="Email" required
                   type="text">
        </p>
        <p>
            <label class="sr-only" for="password">Пароль</label>
            <input class="form-control" id="password" name="password" placeholder="Password" required type="password">
        </p>
        <p style="color: red" th:if="${param.error}">
            Неправильное имя пользователя или пароль
        </p>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
    </form>
</div>
</body>
</html>
